div {
  display: flex;
  justify-content: center;
}


h1{
  padding: 40px;
  justify-content: right;
  color: #ff0000
}

button {
  display: flex;
  align-self: center;
  justify-content: center;
}

p {
  padding: 45px;
}